
        *{
            /* margin: 0; */
            /* padding: 0; */
            box-sizing: border-box;
        }
        body{
            background-color: blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .mainBox{
            background-color: blueviolet;
            border: 2px solid skyblue;
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 20px;
            margin: auto;
        }
        label{
            font-size: 1.3rem;
            font-weight: bold;
        }
        .legend{
            font-size: 1.3rem;
            font-weight: bold;
        }
        .input{
            border-radius: 5px;
            height: 19px;
            width:200px ;
            text-align: center;
        }
        fieldset{
            border: 2px solid skyblue;
        }
        textarea{
            border-radius: 5px;
        }
        .center {
            text-align: center;
        }
        #button{
            border-radius: 5px;
            box-shadow: 2px 2px black;
            text-align: center;
        }
   